
/* Form @media */
@media (max-width: 500px) {
.form-box {
width: 100%;
}
.form-content {
width: 90%;
padding-left: 5px;
}
.form-content input {
width: 80%;
height: 40px;
border-radius: 5px;
margin: auto;
display: block;
margin-bottom: 20px;
border: 1px solid rgb(235, 235, 235);
outline-style: none;
}

.form-content button {
width: 200px;
height: 35px;
margin: 20px auto;
display: block;
border-radius: 5px;
text-align: center;
border: 0;
outline: 0;
background-color: rgba(128, 0, 128, 0.767);
color: whitesmoke;
cursor: pointer;
}

.texto-form {
width: 90%;    
height: 80px;
margin: 20px auto 10px;
display: block;
margin-bottom: 0;
}

}